<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration  
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="user" type="cn.sxt.vo.User" />
	</typeAliases>
	<mappers>
		<mapper resource="cn/sxt/vo/UserDao.xml" />
	</mappers>
</configuration>